body {
	background-color: #708090;
}

header {
	background-color: azure;
	top: 0em;
	left: 0em;
	position: fixed;
	width: 100%;
}

p {
	text-align: center;
}

.profile {
	margin-top: 10em;
	text-align: center;
}

.quantitative {
	text-align: center;
}

.qualitative {
	text-align: center;
}

.pitch {
	text-align: center;
	margin: 0 35% 35% 35%;

}