body {
	background-color: #708090;
}

header {
	display: inline-block;
	background-color: azure;
	top: 0em;
	left: 0em;
	position: fixed;
	width: 100%;
}
h1, a {
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	display: block;
	float: right;
	font-size: 2em;
	padding: 0 1em 0 1em;
	color: black;
}

p {
	text-align: center;
}

.profile {
	margin-top: 6em;
	text-align: center;
}

.quantitative {
	background-color: firebrick;
	text-align: center;
	margin: 0 15% 0% 15%;
}

.qualitative {
	text-align: center;
	margin: 0 15% 0% 15%;
}

.pitch {
	background-color: firebrick;
	text-align: center;
	margin: 0 15% 0% 15%;
}

.circle {
	text-align: center;
	margin: 0 15% 0% 15%;
}